/* * {
    outline: 1px solid red;
    outline-offset: 1px solid red;
} */

body, html {
    height: 100%;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-background.png")
}

.hero-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-background.png");
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 1.4rem;
}

li {
    font-size: 1.1rem;
}

@media (min-width: 800px) {
    .hero-text {
        position: absolute;
        top: 40%;
        left: 10%;
        width: 60%
          }
} 